table {
    width: 100%;
}
td {
    vertical-align: center;
}
.d1 {
    text-align: left;
	color:#724445;
	font-weight: bold;
	padding-left:10px;
	padding-right:10px;

}
.thStyle {
	text-align: center;
	color:#5a2526;
	font-weight:900;
	padding-left:10px;
		padding-right:10px;

}
table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
  }
.d2 {
    text-align:left;
	color:#724445;
	font-weight: bold;
	padding-left:10px;
		padding-right:10px;

}
.d3 {
    text-align:left;
	color:#724445;
	font-weight: bold;
	padding-left:10px;
		padding-right:10px;

}
.copy {
    visibility: hidden;
}
.d3 {
    white-space: nowrap;
}
tr {
	height: 40px;
}
.header {
	background-color: #724445;
	color: white;padding: 10px;
	margin-bottom:20px;
	
}
.titleStyle {
	color:#724445;
	padding-bottom: 20px;
}
.tablehead {
	color:#724445;
}
.footerStyle {
	background-color: #724445;
	color: white;
	padding: 10px;
	margin-top:20px;
}
